html, body {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    background-color: #626567;
    color: #f8f9f9;
}

#body-welcome {
    background-image: url("/images/homebase_welcome_bg_m.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header {
    background-color: #797d7f;
    color: #f8f9f9;
}

.img-navbar {
    width: 40px;
    height: auto;
}

.nav-link.active {
    text-transform: uppercase;
    border-bottom: 2px solid #f8f9f9;
}

.welcome-main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 2vh;
}

.img-header-mobile {
    height: 30px;
    width: auto;
}

.welcome-text {
    font-weight: normal;
}

.welcome-body {
    display: flex;
    justify-content: center;
    align-content: space-between;
}

#welcome-link {
    justify-content: center;
    align-content: flex-end;
}

.home-btn-go {
    width: 100px;
    height: 100px;
    border: 2px solid #f8f9f9;
    border-radius: 50%;
    font-weight: 600;
    font-size: 20px;
    color: #f8f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8vh;
}

.home-btn-go:hover {
    background-color: #f8f9f9;
}

.errors {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.img-errors {
    width: 15vw;
    height: auto;
    margin-bottom: 30px;
}

h1 {
    font-size: 30px;
}

#profile-intro {
    padding: 2vh;
}

.footer {
    background-color: #797d7f;
    color: #f8f9f9;
    padding: 20px 0;
}

.footer-p {
    padding: 0;
    margin: 0;
}

.home-main {
    padding-bottom: 150px;
}

.home-body {
    padding: 1vw;
}

.home-sections {
    border-color: #f8f9f9;
    border-left: 2px solid;
    margin: 2vh 0;
    padding: 0;
}

.home-sections-bg {
    background-image: url("/images/home_sections_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
}

.home-section-links {
    text-decoration: none;
    color: #797d7f;
}

.home-section-links:hover {
    text-decoration: none;
    color: #797d7f;
    text-transform: uppercase;
}

.home-sections-headings {
    font-size: 20px;
    color: #797d7f;
}

.home-sections-paras {
    margin: 1vh 1vw;
}

.table td, .table th {
    padding: 5px;
    font-size: 12px;
}

tr {
    padding: 10px;
}

th {
   background-color: #f8f9f9;
    color: #797d7f;
}

td {
    color: #f8f9f9;
}

.tree-pills {
    padding: 5px;
}

.tree-pill {
    display: inline;

}

@media (min-width: 768px) {
    html, body {
        font-size: 25px;
    }

    #body-welcome {
        background-image: url("/images/homebase_welcome_bg.jpg");
    }

    .img-header-mobile {
        height: 40px;
        width: auto;
    }

    .home-btn-go {
        width: 150px;
        height: 150px;
        font-size: 40px;
        margin-bottom: 4vh;
    }

    h1 {
        font-size: 40px;
    }

    .home-sections-headings {
        font-size: 30px;
    }

    .img-navbar {
        width: 50px;
        height: auto;
    }

    .table td, .table th {
        padding: 5px;
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    html, body {
        font-size: 35px;
        font-weight: normal;
    }

    .img-header-mobile {
        height: 60px;
        width: auto;
    }

    .welcome-body {
        justify-content: flex-start;
    }

    #welcome-link {
        justify-content: center;
        align-content: flex-end;
    }

    .home-btn-go {
        width: 300px;
        height: 100px;
        border-radius: 20px;
        font-size: 60px;
        margin-bottom: 5vh;
    }

    h1 {
        font-size: 60px;
    }

    .home-sections-headings {
        font-size: 50px;
    }

    .img-navbar {
        width: 60px;
        height: auto;
    }

    .table td, .table th {
        padding: 5px;
        font-size: 24px;
    }
}