html, body {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
}

.img-header-mobile {
    height: 15vh;
    width: auto;
}

.welcome-main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding: 10vh 0;
}

.welcome-main > * {
    padding: 2vw;
}

.welcome-body {
    text-align: center;
}

.home-btn-go {
    padding: 10vw;
    border: 1px solid black;
    border-radius: 50%;
}