<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">
  <head>
    <title>Quiz Project</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet" th:href="@{/css/projects_quiz.css}">
  </head>
  <body>
      <div class="container">
          <div class="align-items-center title-div">
            <h1 class="display-2 text-center w-100 title-h2">Goat Quiz</h1>
            <p class="text-center subtitle-p">Test your knowledge with five random questions that have been aggregated from a famous British Reality Show - <em>Who Wants To Be A Millionaire!</em></p>
          </div>
          <div class="row options-div">
            <div class="col-md-12 text-center trial-div">
            	<a th:href="@{/projects/quiz/get-quiz}">
            		<div class="option-div trial-div-link">
                  		<p id="option-p-top" class="link-text option-p">Are You Worthy?</p>
                  		<p class="link-text option-p">START QUIZ</p>
                	</div>
            	</a>
            </div>
          </div>
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>